
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <img src="@Url.Content("~/Content/Images/comingsoon.png")" class="img-fluid mx-auto d-block" alt="Coming soon" width="100%">
    </div>

