
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

    <div class="container mt-2">
        <div class="row">
            <div class="col-lg-6">
                <div class="hovereffect">
                    <img src="@Url.Content("~/Content/Images/event4.png")" class="img-responsive d-block eventcard" alt="Event">
                    <div class="overlay">
                        <a href="@Url.Action("Event", "Events")">
                            <button type="button" class="btn eventbutton" data-toggle="modal" data-target="#exampleModal">
                                <b>SEE DETAILS</b>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="hovereffect">
                    <img src="@Url.Content("~/Content/Images/event2.png")" class="img-responsive d-block eventcard" alt="Event">
                    <div class="overlay">
                        <a href="@Url.Action("Event", "Events")">
                            <button type="button" class="btn eventbutton" data-toggle="modal" data-target="#exampleModal">
                                <b>SEE DETAILS</b>
                            </button>
                            </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

