@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background: url('https://www.birlasoft.com/sites/default/files/life-sciences-and-health-care-booster-Industry-banner.jpg') no-repeat center center fixed; background-size: cover;">
    <h1>ERDS Portal 1.0</h1>
    <p class="lead">Welcome to the ERDS Portal 1.0</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Roadmap and Future Initiatives</h2>
        <p>
            Placeholder text. This will be a blurb about roadmap and future initiatives.
        </p>
        <p><a class="btn btn-default" href="~/roadmap">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Team Accomplishments</h2>
        <p>Placeholder text. This will be a blurb about team accomplishments.</p>
        <p><a class="btn btn-default" href="~/accomplishments">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Team Capabilities</h2>
        <p>Placeholder text. This will be a blurb about team capabilities...</p>
        <p><a class="btn btn-default" href="~/capabilities">Learn more &raquo;</a></p>
    </div>
</div>