
@{
    ViewBag.Title = "ThingworxDashboards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container mt-2">
        <div class="row">
            <div class="col-md-12">
                <div id="teamheader" align="center"><b>Thingworx Dashboards</b></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <video width="100%" height="500" controls>
                    <source src="@Url.Content("~/Content/Videos/export.mp4")" type="video/mp4" class=>
                </video>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="teamsubheader"><b>About This Project</b></div>
                <p>
                    Lorem ipsum dolor sit amet, ne eum novum partem. Lorem nihil integre vim in, ea diceret dolorum voluptaria mea. Agam pertinax imperdiet has no, vis ferri reque maiorum an, an hinc graece adipisci pro. Omnesque maiestatis adipiscing mei id,
                    ex sit corpora deseruisse conclusionemque.
                    Ut nam munere dolores signiferumque, ea sit legere impedit. At sit minim timeam fuisset, est te minim elitr scriptorem, vel cu porro errem integre. Summo deserunt et pro. Et tamquam rationibus pri, ne per verear reprimique constituam.
                    Ne nam suas graece deterruisset, an his vero duis evertitur. Ad his duis semper singulis. Nulla malorum ea eos. Vel in autem mazim efficiantur, et ius nonumy offendit.
                    Ad nam fabellas indoctum suscipiantur, vel ea autem nominavi incorrupte. Cu nam prima viris detracto, ut rebum velit vel, no persius placerat vituperatoribus pri. Vix elitr graece volutpat ei. Nam ex illud liber nullam. His atqui sadipscing
                    concludaturque no, harum munere scaevola mel no. Quo quas illud quaeque no.
                    Mei epicurei postulant scriptorem ad. Ea feugait sapientem conclusionemque eos, vidisse theophrastus nam ad. Ad mei duis ornatus civibus, nec fugit gloriatur necessitatibus ad, ex eam graeci impedit sapientem. Diam veniam molestiae no pro,
                    ut est assum nusquam oportere, scripta noluisse et sed.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 pb-2">
                <div id="teamsubheader"><b>Resources</b></div>
                <a href="https://awsaymnva1215.jnj.com/Thingworx/Runtime/index.html?mashup=JnJCMDashboard#master=PTC.AccessApp.Master&mashup=JnJCMDashboard" target="_blank">
                    <img src="@Url.Content("~/Content/Images/ptc.jpg")" class="img" width="14%">
                </a>
                <a href=".\TWXGolive.pdf" target="_blank">
                    <img src="@Url.Content("~/Content/Images/pdf.jpg")" class="img" width="15%">
                </a>
                <a href="https://confluence.jnj.com/display/VAAM/Dashboards" target="_blank">
                    <img src="@Url.Content("~/Content/Images/confluence.png")" class="img" width="15%">
                </a>
            </div>
        </div>
    </div>

