
@{
    ViewBag.Title = "AppMaintenance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="teamheader" align="center"><b>SO - Application Maintenance</b></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img src="@Url.Content("~/Content/Images/appmaint.png")" class="img-fluid mx-auto d-block" alt="TWX Dashboards" width="80%">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="teamsubheader"><b>What we do</b></div>
                <p>
                    Our Strategic Intent is to enable J&J Technology to provide reliable and highly available applications to support business needs, while maintaining a customer focus as we collaborate to reduce the Total Cost of Ownership (TCO) of our
                    applications. We strive to build a culture focused on continuous improvement, automation and continuous learning.

                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div id="teamsubheader"><b>Resources</b></div>
                <a href="@Url.Content("~/Content/PDFs/ApplicationMaintenanceOverview2.pdf")" target="_blank">
                    <img src="@Url.Content("~/Content/Images/download.png")" class="img" width="15%">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div id="teamsubheader"><b>Meet the Service Owner!</b></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mt-2">
                <img src="@Url.Content("~/Content/Images/carlo.png")" class="img-thumbnail" width="100%">
            </div>
            <div class="col-md-9 mt-2 mb-5">
                <h5> Carlo Narducci </h5>
                <b>Contact:</b> cnarduc@its.jnj.com +1 (514) 497-9914
                <br>
                <b>Office:</b> J&J Canada
                <br>
                <b>Position:</b> IT AS SR. MGR, SO, R&D SUPPORT | IM Global Services
                <br>
                <br>
                <p>
                    Lorem ipsum dolor sit amet, ne eum novum partem. Lorem nihil integre vim in, ea diceret dolorum voluptaria mea. Agam pertinax imperdiet has no, vis ferri reque maiorum an, an hinc graece adipisci pro. Omnesque maiestatis adipiscing mei
                    id, ex sit corpora deseruisse conclusionemque.
                    Ut nam munere dolores signiferumque, ea sit legere impedit. At sit minim timeam fuisset, est te minim elitr scriptorem, vel cu porro errem integre.
                </p>
            </div>
        </div>
    </div>

