
@{
    ViewBag.Title = "CAx";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="teamheader" align="center"><b>SO/RTO - CAx (CAD Software) Augmented Reality / Mixed Reality</b></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img src="@Url.Content("~/Content/Images/cax.png")" class="img-fluid mx-auto d-block" alt="TWX Dashboards" width="80%">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="teamsubheader"><b>What we do</b></div>
                <p>
                    Model Based Engineering (MBE) Service provides product development, manufacturing and life cycle support that uses a digital model to drive all engineering activities. Computer-aided engineering design and analysis tools (CAx) service
                    provides the tools and platforms to design, simulate, analyse and manufacture new or existing products. AR provides model visualization overlaid in the real world.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div id="teamsubheader"><b>Resources</b></div>
                <a href="@Url.Content("~/Content/PDFs/0-ERDS-MBTech-Overview-for-GradTech-Aug08.pdf")" target="_blank">
                    <img src="@Url.Content("~/Content/Images/download.png")" class="img" width="15%">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div id="teamsubheader"><b>Meet the Service Owner!</b></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mt-2">
                <img src="@Url.Content("~/Content/Images/michael.png")" class="img-thumbnail" width="100%">
            </div>
            <div class="col-md-9 mt-2 mb-5">
                <h5> Michael Braaten </h5>
                <b>Contact:</b> mbraaten@its.jnj.com +1 (732) 524-1008
                <br>
                <b>Office:</b> JJ World Headquarters US
                <br>
                <b>Position:</b> ITAS MANAGER RSO RD SUPPORT | AS App Support
                <br>
                <br>
                <p>
                    Lorem ipsum dolor sit amet, ne eum novum partem. Lorem nihil integre vim in, ea diceret dolorum voluptaria mea. Agam pertinax imperdiet has no, vis ferri reque maiorum an, an hinc graece adipisci pro. Omnesque maiestatis adipiscing mei
                    id, ex sit corpora deseruisse conclusionemque.
                    Ut nam munere dolores signiferumque, ea sit legere impedit. At sit minim timeam fuisset, est te minim elitr scriptorem, vel cu porro errem integre.
                </p>
            </div>
        </div>
    </div>

