
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row pr-4">
        <div class="col-md-3 mt-2">
            <img src="@Url.Content("~/Content/Images/davegreiner.png")" class="img-thumbnail" width="100%">
        </div>
        <div class="col-md-9 mt-2">
            <h2> Meet Dave Greiner: </h2>
            <b>Contact:</b> dgreiner@its.jnj.com +1 (610) 719-5395
            <br>
            <b>Office:</b> West Chester, PA
            <br>
            <b>Position:</b> IT AS DIRECTOR, GSO, SAMD & CAX SERVICES | AS QRDS
            <br>
            <br>
            <p>
                Lorem ipsum dolor sit amet, ne eum novum partem. Lorem nihil integre vim in, ea diceret dolorum voluptaria mea. Agam pertinax imperdiet has no, vis ferri reque maiorum an, an hinc graece adipisci pro. Omnesque maiestatis adipiscing mei id,
                ex sit corpora deseruisse conclusionemque.
                Ut nam munere dolores signiferumque, ea sit legere impedit. At sit minim timeam fuisset, est te minim elitr scriptorem, vel cu porro errem integre.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-4">
            <img src="@Url.Content("~/Content/Images/image.png")" class="img-fluid mx-auto" alt="Team overview" width="100%" usemap="#teams">
            <map name="teams">
                <area shape="rect" coords="0,30,768,378" alt="MB Tech" href:"\.mbtech.html">
            </map>
        </div>
    </div>
</div>

