
@{
    ViewBag.Title = "ModelBasedPLM";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="teamheader" align="center"><b>SO/RTE - Model Based Product Lifecycle Management (PLM)</b></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img src="@Url.Content("~/Content/Images/modelbasedplm.png")" class="img-fluid mx-auto d-block" alt="TWX Dashboards" width="80%">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="teamsubheader"><b>What we do</b></div>
                <p>
                    Our team provides services for managing the entire lifecycle of a model-based product from R&D inception, through engineering design, manufacture and service. These services include capabilities, such as change management, configuration
                    management and supplier collaboration that are shared across R&D, Supply Chain and Quality organizations and span from single to cross-platform solutions.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div id="teamsubheader"><b>Resources</b></div>
                <a href="@Url.Content("~/Content/PDFs/0-ERDS-MBTech-Overview-for-GradTech-Aug08.pdf")" target="_blank">
                    <img src="@Url.Content("~/Content/Images/download.png")" class="img" width="15%">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div id="teamsubheader"><b>Meet the Service Owner!</b></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mt-2">
                <img src="@Url.Content("~/Content/Images/scott.png")" class="img-thumbnail" width="100%">
            </div>
            <div class="col-md-9 mt-2 mb-5">
                <h5> Scott Heckman </h5>
                <b>Contact:</b> sheckman@its.jnj.com +1 (610) 719-5749
                <br>
                <b>Office:</b> JJ World Headquarters US
                <br>
                <b>Position:</b> IT AS SR MANAGER, GSO PDM & ECM SERVICES | AS QRDS
                <br>
                <br>
                <p>
                    Lorem ipsum dolor sit amet, ne eum novum partem. Lorem nihil integre vim in, ea diceret dolorum voluptaria mea. Agam pertinax imperdiet has no, vis ferri reque maiorum an, an hinc graece adipisci pro. Omnesque maiestatis adipiscing mei
                    id, ex sit corpora deseruisse conclusionemque.
                    Ut nam munere dolores signiferumque, ea sit legere impedit. At sit minim timeam fuisset, est te minim elitr scriptorem, vel cu porro errem integre.
                </p>
            </div>
        </div>
    </div>

